<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <base href="/new_interview/"> -->
    <script>
        const ROOM_ID = "myRoomId"
    </script>
    <script defer src="peerjs.min.js"></script>
    <script src="socket.io/socket.io.js" defer></script>
    <!-- <script src="/socket.io/socket.io.js" defer></script> -->
    <script src="client_text.js" defer></script>
    <script src="client_video.js" defer></script>
    <link rel="stylesheet" href="client_style.css">
</head>
<body>
    <!-- <video id="local-video" width="480px" style="border: 1px #000 solid;" autoplay>Видео</video> -->
    <video id="remote-video" autoplay>Видео</video>
    <div id="controls">
        <button id="connect" onclick="startCall()">
            <img src="icons/interview_white.svg">
            <label class="btn-label">Связаться</label>
        </button>
        <div id="btns-empty-space"></div>
        <button id="to-list">
            <img src="icons/wait_list_light.svg">
            <label class="btn-label">Отправить&nbsp;в&nbsp;лист&nbsp;ожидания</label>
        </button>
        <button id="end-call" onclick="stopCall()">
            <img src="icons/stop_light.svg">
            <label class="btn-label">Завершить</label>
        </button>
    </div>
 
    <br><label class="textarea-label">Вывод письменного ответа кандидата:<br></label><br>
    <br>
    <div id="text-area-container" contenteditable="true"></div>
</body>
</html>